{% include "header.html" %}

	 <div class="signin">
		 {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="error">{{ message }}</p>
                {% endfor %}
            {% endif %}
		 {% endwith %}
		 <div>
			 <p><a href="{{ url_for('download_pdf') }}">Descargue su archivo PDF</a></p>
			 <p><a href="{{ url_for('download_csv') }}">Descargue su archivo CSV</a></p>
		 </div>
	 </div>

		</div>


</div>

{% include "footer.html" %}