{% include "header.html" %}

	 <div class="signin">
		 {% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
					<p class="error">{{ message }}</p>
				{% endfor %}
			{% endif %}
		{% endwith %}
     <form action="{{ url_for('create_user') }}" method="post">
		 <h3>Registro de usuario nuevo</h3>
	      <input type="email" id="user" name="user" class="user" value="Usuario" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Username';}" />
		  <input type="password" id="password" name="password" class="pass" value="Clave" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" />
<!--		  <p><a href="#">Forgot Password?</a></p>-->
	    </div>
			  <input type="submit" value="Registrar" />
		</div>
		 </form>

</div>

{% include "footer.html" %}